html {
    //background-color: rgb(242, 242, 242);
    height: 100vh !important;
    background-color: #f8fafc !important;
}

body {
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1;
}

.body-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 60px 30px 0px;
    margin-top: 70px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button:focus {
    background-color: #fff;
}
